cyberscope/schemas/oasis/xAL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:ciq:xal:3" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ct="urn:oasis:names:tc:ciq:ct:3" targetNamespace="urn:oasis:names:tc:ciq:xal:3" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:annotation>
		<xs:documentation> 
		Specification Name: OASIS CIQ TC - extensible Address Language (xAL) 
		Description: Defines the W3C schema for representing addresses
		(Using XML Schema based standard code list/enumeration mechanism - OPTION 1 AND DEFAULT)
		Produced by: OASIS Customer Information Quality Technical Committee
		URL: http://www.oasis-open.org/committees/ciq
		Version: 3.0  
		Status: Public Review Draft 03 ERRATA 
		Copyright: 2007-08, OASIS, http://www.oasis-open.org
		Last Modified: 08 April 2008  
		Last Modified by: Ram Kumar, Chair, OASIS CIQ TC 
		NOTE: Do not modify this schema as it will break specifications compatibility 
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:oasis:names:tc:ciq:ct:3" schemaLocation="CommonTypes.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink"/>
	<xs:simpleType name="AddressTypeList">
		<xs:annotation>
			<xs:documentation>A list of types of addresses</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Airport"/>
			<xs:enumeration value="Business"/>
			<xs:enumeration value="CaravanPark"/>
			<xs:enumeration value="CommercialPark"/>
			<xs:enumeration value="CommunityDevelopment"/>
			<xs:enumeration value="EducationalInstitution"/>
			<xs:enumeration value="Entertainment"/>
			<xs:enumeration value="Hospital"/>
			<xs:enumeration value="Location"/>
			<xs:enumeration value="Marina"/>
			<xs:enumeration value="MilitaryBase"/>
			<xs:enumeration value="OverseasMilitary"/>
			<xs:enumeration value="Port"/>
			<xs:enumeration value="Primary"/>
			<xs:enumeration value="RecreationalPark"/>
			<xs:enumeration value="Resort"/>
			<xs:enumeration value="RetirementVillage"/>
			<xs:enumeration value="Rural"/>
			<xs:enumeration value="Secondary"/>
			<xs:enumeration value="ShoppingCentre"/>
			<xs:enumeration value="SportingCentre"/>
			<xs:enumeration value="Urban"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressIDTypeList">
		<xs:annotation>
			<xs:documentation>A list of types of address identiifers </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="AddressLineTypeList">
		<xs:annotation>
			<xs:documentation>A list of ypes of address line., e.g. street details, locality details</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="AddressUsageList">
		<xs:annotation>
			<xs:documentation>A list of types of usage of the address</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Business"/>
			<xs:enumeration value="Billing"/>
			<xs:enumeration value="Communication"/>
			<xs:enumeration value="Contact"/>
			<xs:enumeration value="Mailing"/>
			<xs:enumeration value="Personal"/>
			<xs:enumeration value="Postal"/>
			<xs:enumeration value="Residential"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdministrativeAreaTypeList">
		<xs:annotation>
			<xs:documentation>A list of administrative area types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="City">
				<xs:annotation>
					<xs:documentation>Only name of the administrative area without its type, e.g. NSW, CA, Quebec</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="State">
				<xs:annotation>
					<xs:documentation>The type of the area, e.g. state, district, province, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Territory"/>
			<xs:enumeration value="Province"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdministrativeAreaNameTypeList">
		<xs:annotation>
			<xs:documentation>A list of administrative area name element types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Name">
				<xs:annotation>
					<xs:documentation>Name of the administrative area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Number"/>
			<xs:enumeration value="ReferenceLocation">
				<xs:annotation>
					<xs:documentation>Reference location information in support of the administrative area. e.g. Territory of France</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>Other supporting information </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdministrativeAreaNameCodeList">
		<xs:annotation>
			<xs:documentation>A list of codes for name of administrative area</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="CountryNameTypeList">
		<xs:annotation>
			<xs:documentation>A list of country name element types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Name">
				<xs:annotation>
					<xs:documentation>Name of the country  e.g. AUSTRALIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>Although a Country, could be classified as a territory of a country. For example, "NOUVELLE CALEDONIE" is a territory of "FRANCE".</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryNameCodeList">
		<xs:annotation>
			<xs:documentation>A list of codes for name of country</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="DatumCodeList">
		<xs:annotation>
			<xs:documentation>A list of codes for datum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryModeList">
		<xs:annotation>
			<xs:documentation>A list of codes for mode of delivery of address</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="DirectionTypeList">
		<xs:annotation>
			<xs:documentation>A list of directions for geo-coordinates</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="East"/>
			<xs:enumeration value="West"/>
			<xs:enumeration value="North"/>
			<xs:enumeration value="South"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdentifierElementTypeList">
		<xs:annotation>
			<xs:documentation>A list of name types for commonly used Number type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Name">
				<xs:annotation>
					<xs:documentation>Applicable to mail box office names such as PO BOX, GPO BOX, MAIL BAG NO., etc. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RangeFrom">
				<xs:annotation>
					<xs:documentation>Indicates that the element contains the lower value of a range, e.g. 25 in 25-37</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Range">
				<xs:annotation>
					<xs:documentation>Indicates that the value is a range, e.g. 25-37</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RangeTo">
				<xs:annotation>
					<xs:documentation>Indicates that the element contains the top value of a range, e.g. 25 in 25-37</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Prefix">
				<xs:annotation>
					<xs:documentation>Indocates that the element contains some value that is important, but not exactly the number itself. E.g. PoBox can be a prefix in PoBox 2020, street no. A-15, where A is the prefix and 15 is the number</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Suffix">
				<xs:annotation>
					<xs:documentation>Indicates that the element contains some value that is important, but not exactly the number itself. E.g. 'bis' in '45 bis'</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Number">
				<xs:annotation>
					<xs:documentation>Indicates that the value is number, e.g. 2020 in PoBox 2020. The actual value can be alpha-numeric. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Separator">
				<xs:annotation>
					<xs:documentation>Indicates that the value is a separator that is expected to be preserved. Examples are / - #, as in 15-A where "-" is the separator</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Extension">
				<xs:annotation>
					<xs:documentation>Indicates that the value is an extension number of some identifier, e.g. 01 in Private Bag 2330-01, where the main number of the private bag is 2330, 12345-1223 in post code where 1223 is the extension</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalityNameTypeList">
		<xs:annotation>
			<xs:documentation>A list of locality name element types such as name of locality, reference data in support of locality</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Name">
				<xs:annotation>
					<xs:documentation>Name of the locality</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Number"/>
			<xs:enumeration value="ReferenceLocation">
				<xs:annotation>
					<xs:documentation>Any reference locality data in support of the locality. e.g. Next town north of Town A, via-town name</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>Other supporting information </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalityNameCodeList">
		<xs:annotation>
			<xs:documentation>A list of codes for name of locality</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="LocalityTypeList">
		<xs:annotation>
			<xs:documentation>A list of locality name types such as Municipality, Village, Area, etc</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Municipality"/>
			<xs:enumeration value="PostTown"/>
			<xs:enumeration value="Place"/>
			<xs:enumeration value="Suburb"/>
			<xs:enumeration value="Town"/>
			<xs:enumeration value="Village"/>
			<xs:enumeration value="Area"/>
			<xs:enumeration value="Zone"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeridianCodeList">
		<xs:annotation>
			<xs:documentation>A list of meridian codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="PostOfficeTypeList">
		<xs:annotation>
			<xs:documentation>A list of types of postal delivery offices</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="PostalDeliveryPointTypeList">
		<xs:annotation>
			<xs:documentation>A list of postal delivery point types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="GPOBox"/>
			<xs:enumeration value="POBox"/>
			<xs:enumeration value="LockedBag"/>
			<xs:enumeration value="MailStop"/>
			<xs:enumeration value="PigeonHole"/>
			<xs:enumeration value="PrivateBag"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProjectionCodeList">
		<xs:annotation>
			<xs:documentation>A list of codes for projection</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="PremisesElementTypeList">
		<xs:annotation>
			<xs:documentation>A list of name types for premises</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Name">
				<xs:annotation>
					<xs:documentation>Names of Premises such as airport, hospital, university, military base, etc. Can also be the name of the building or house or apartment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Location">
				<xs:annotation>
					<xs:documentation>Where in the building/landmark the premises is located, e.g. lobby, ground floor, penthouse, or where in a larger complex (e.g. airport) the address is located.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SubPremisesConnector">
				<xs:annotation>
					<xs:documentation>Free text description that is required to logically connect the 2 premises</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="InternalThoroughfare">
				<xs:annotation>
					<xs:documentation>Roads and streets within boundaries of larger complexes/premises such as hospitals, airports, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ReferenceLocation">
				<xs:annotation>
					<xs:documentation>Free text description of some other location and how this premises relates to it, e.g. 300m from water station, new the police station, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>additional supporting information</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PremisesTypeList">
		<xs:annotation>
			<xs:documentation>A list of premises type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Airport"/>
			<xs:enumeration value="Area"/>
			<xs:enumeration value="Building"/>
			<xs:enumeration value="Farm"/>
			<xs:enumeration value="Hospital"/>
			<xs:enumeration value="House"/>
			<xs:enumeration value="LandMark"/>
			<xs:enumeration value="LargeMailUser"/>
			<xs:enumeration value="Lot"/>
			<xs:enumeration value="RailwayStation"/>
			<xs:enumeration value="ShoppingComplex"/>
			<xs:enumeration value="University"/>
			<xs:enumeration value="Unit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RuralDeliveryTypeList">
		<xs:annotation>
			<xs:documentation>A list of rural delivery types such as road, air, water</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="SubAdministrativeAreaNameTypeList">
		<xs:annotation>
			<xs:documentation>A list of sub administrative area name element types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Name">
				<xs:annotation>
					<xs:documentation>Name of the sub administrative area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Number"/>
			<xs:enumeration value="ReferenceLocation">
				<xs:annotation>
					<xs:documentation>Reference location information in support of the sub administrative area.  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>Other supporting information </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubAdministrativeAreaNameCodeList">
		<xs:annotation>
			<xs:documentation>A list of codes for name of sub adiministrative area</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="SubAdministrativeAreaTypeList">
		<xs:annotation>
			<xs:documentation>A list of sub administrative area name types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="County"/>
			<xs:enumeration value="District"/>
			<xs:enumeration value="Province"/>
			<xs:enumeration value="Region"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubLocalityNameTypeList">
		<xs:annotation>
			<xs:documentation>A list of sub locality name element types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Name"/>
			<xs:enumeration value="Number"/>
			<xs:enumeration value="ReferenceLocation"/>
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>Other supporting information </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubLocalityNameCodeList">
		<xs:annotation>
			<xs:documentation>A list of codes for names of sub locality</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="SubLocalityTypeList">
		<xs:annotation>
			<xs:documentation>A ist of sublocality types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Municipality"/>
			<xs:enumeration value="Village"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubPremisesTypeList">
		<xs:annotation>
			<xs:documentation>A list of sub premises types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Room"/>
			<xs:enumeration value="Suite"/>
			<xs:enumeration value="Apartment"/>
			<xs:enumeration value="Shop"/>
			<xs:enumeration value="Office"/>
			<xs:enumeration value="Unit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThoroughfareNameTypeList">
		<xs:annotation>
			<xs:documentation>A list of name element types for thoroughfare</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="NameOnly">
				<xs:annotation>
					<xs:documentation>Just the name part, such as Baker in Baker Street.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PreDirection">
				<xs:annotation>
					<xs:documentation>North Archer Street, where "North" is PreDirection</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PostDirection">
				<xs:annotation>
					<xs:documentation>Archer Street North, where "North" is PostDirection</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NameAndNumber">
				<xs:annotation>
					<xs:documentation>This value indicates that the element contains the street name and street number. E.g. 39 Baker Street. Use this when you do not want to break the thoroughfare into atomic types</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NameAndType">
				<xs:annotation>
					<xs:documentation>Baker Street, where Baker is Name and Street is Type</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NameNumberAndType">
				<xs:annotation>
					<xs:documentation>21 Archer Street (Full thoroughfare details)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Unstructured">
				<xs:annotation>
					<xs:documentation>Full details of a thorughfare in a single line (unstructured)
e.g. 39 Baker Street North</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SubThoroughfareConnector">
				<xs:annotation>
					<xs:documentation>When more than one street name is required to identify the location this type can be used to connect them with values such as CORNER OF or VIA.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ReferenceLocation">
				<xs:annotation>
					<xs:documentation>Free text description of some other location and how this thoroughfare relates to it, e.g. 300m from water station, new the police station, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Type">
				<xs:annotation>
					<xs:documentation>Additional description like intersection, cross streets, etc</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThoroughfareTypeList">
		<xs:annotation>
			<xs:documentation>A list of types for thoroughfare (e.g. STREET, ROAD, CRT)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:element name="Address" type="AddressType">
		<xs:annotation>
			<xs:documentation>Top level element for address with geocode details</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Complex type that defines the structure of an address with geocode details for reuse</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FreeTextAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container for free text address elements where address elements are not parsed </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Free format address representation. An address can have more than one line. The order of the AddressLine elements must be preserved.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ct:String">
										<xs:attribute name="Type" type="AddressLineTypeList">
											<xs:annotation>
												<xs:documentation>What does the address line describe? e.g. Street details, suburb details, post code details, whole address, etc</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="ct:grDataQuality"/>
										<xs:anyAttribute namespace="##other"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country details</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CountryType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministrativeArea" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of the top-level area division in the country, such as state, district, province, island, region, etc. Note that some countries do not have this</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NameElement" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Data associated with the Administrative Area. e.g. Full name of administrative area or part of it. eg. MI in USA, NSW in Australia, reference location to the administrative area</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ct:String">
										<xs:attributeGroup ref="ct:grAbbreviation"/>
										<xs:attribute name="NameType" type="AdministrativeAreaNameTypeList">
											<xs:annotation>
												<xs:documentation>semantics of data associated with name</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NameCode" type="AdministrativeAreaNameCodeList">
											<xs:annotation>
												<xs:documentation>Name of administrative area represented as a code. e.g. "COL" for COLORADO</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NameCodeType" type="ct:String">
											<xs:annotation>
												<xs:documentation>Type of code used to represent name as a code</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:anyAttribute namespace="##other"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubAdministrativeArea" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The next level down division of the area. E.g. state / county, province / reservation. Note that not all countries have a subadministrative area</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NameElement" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Data associated with the SubAdministrative Area. e.g. Full name of sub administrative area or part of it.  </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="ct:String">
													<xs:attributeGroup ref="ct:grAbbreviation"/>
													<xs:attribute name="NameType" type="SubAdministrativeAreaNameTypeList">
														<xs:annotation>
															<xs:documentation>semantics of data associated with name</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NameCode" type="SubAdministrativeAreaNameCodeList">
														<xs:annotation>
															<xs:documentation>Name of administrative area represented as a code. e.g. "COL" for COLORADO</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NameCodeType" type="ct:String">
														<xs:annotation>
															<xs:documentation>Type of code used to represent name as a code</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:anyAttribute namespace="##other"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Type" type="SubAdministrativeAreaTypeList">
									<xs:annotation>
										<xs:documentation>Type of sub administrative area</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="ct:grDataQuality"/>
								<xs:anyAttribute namespace="##other" processContents="lax"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="AdministrativeAreaTypeList">
						<xs:annotation>
							<xs:documentation>Type of administrative area. e.g. state, city, town, etc</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Locality" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of Locality which is a named densely populated area  (a place) such as town, village, suburb, etc. A locality composes of many individual addresses.  Many localities exist in an administrative area or a sub adminisrative area. A locality can also have sub localities. For example, a municipality locality can have many villages associated with it which are sub localities. Example: Tamil Nadu State, Erode District, Bhavani Taluk, Paruvachi Village is a valid address in India. Tamil Nadu is the Administrative Area, Erode is the sub admin area, Bhavani is the locality, and Paruvachi is the sub locality</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NameElement" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Data associated with the locality. e.g. Full name of the locality or part of it, reference location to the locality</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ct:String">
										<xs:attributeGroup ref="ct:grAbbreviation"/>
										<xs:attribute name="NameType" type="LocalityNameTypeList">
											<xs:annotation>
												<xs:documentation>semantics of data associated with name</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NameCode" type="LocalityNameCodeList">
											<xs:annotation>
												<xs:documentation>name of locality represented as a code</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NameCodeType" type="ct:String">
											<xs:annotation>
												<xs:documentation>type of code used to represent name as a code</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:anyAttribute namespace="##other"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubLocality" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A locality that is smaller and is contained within the boundaries of its parent locality. Note that not all localities have sub locality. For example, many areas within a locality where each area is a sub locality</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NameElement" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Data associated with the sub locality. e.g. Full name of the locality or part of it, reference location to the locality</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="ct:String">
													<xs:attributeGroup ref="ct:grAbbreviation"/>
													<xs:attribute name="NameType" type="SubLocalityNameTypeList">
														<xs:annotation>
															<xs:documentation>semantics of data associated with name</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NameCode" type="SubLocalityNameCodeList">
														<xs:annotation>
															<xs:documentation>name of locality represented as a code</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NameCodeType" type="ct:String">
														<xs:annotation>
															<xs:documentation>type of code used to represent name as a code</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:anyAttribute namespace="##other"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Type" type="SubLocalityTypeList">
									<xs:annotation>
										<xs:documentation>Type of sub locality</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="ct:grDataQuality"/>
								<xs:anyAttribute namespace="##other" processContents="lax"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="LocalityTypeList">
						<xs:annotation>
							<xs:documentation>Type of locality. e.g. suburb, area, zone, village, etc</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Thoroughfare" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of the Access route along which buildings/lot/land are located, such as street, road, channel, crescent, avenue, etc. This also includes canals/banks on which houses/boat houses are located where people live</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ThoroughfareType">
							<xs:sequence>
								<xs:element name="SubThoroughfare" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>Another thoroughfare that is required to uniquely identify the location, such as an access route, intersection, corner, adjacent, boundary, etc</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="ThoroughfareType"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Premises" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of the Premises (could be building(s), site, loaction, property, premise, place) which is a landmark place which has a main address such as large mail user (e.g. Airport, Hospital, University) or could be a building (e.g. apartment, house)  or a building or complex of buildings (e.g. an apartment complex or shopping centre) or even a vacant land (e.g. LOT). A premises can have many sub-addresses such as apartments in a building having its own addresses or buildings within an airport having its own addresses including its own thoroughfares</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PremisesType">
							<xs:sequence>
								<xs:element name="SubPremises" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Examples of sub-premises are apartments and suites in buildings, shops in malls, etc.  or sub-addresses in a land mark place such as airports, military bases, hospitals, etc. Some countries have blocks within blocks</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="PremisesType">
												<xs:attribute name="Type" type="SubPremisesTypeList"/>
												<xs:attribute name="TypeCode" type="ct:String">
													<xs:annotation>
														<xs:documentation>Type of code used for sub premises type attribute</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="Type" type="PremisesTypeList"/>
							<xs:attribute name="TypeCode" type="ct:String">
								<xs:annotation>
									<xs:documentation>Type of code use for Premises Type attribute</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A container for a single free text or structured postcode. Note that not all countries have post codes</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The postcode is formatted according to country-specific rules. Example: SW3 0A8-1A, 600074, 2067. This element can also be used to define the semantics of what each code in the post code means</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RuralDelivery" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A container for postal-specific delivery identifier for remote communities. Note that not all countries have RuralDelivery</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Free text or structured description of rural delivery route. e.g. RD 6, </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="RuralDeliveryTypeList">
						<xs:annotation>
							<xs:documentation>Type of rural delivery. For some addresses, delivery to rural areas happens via water, air or road</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostalDeliveryPoint" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Final mail delivery point where the mail is dropped off for recipients to pick them up directly. E.g. POBox, Private Bag,  pigeon hole, free mail numbers, etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Free text or structured description of a postal delivery point.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="PostalDeliveryPointTypeList"/>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A delivery point/installation where all mails are delivered and the post man/delivery service picks up the mails and delivers it to the recipients through a delivery mode. Examples are a rural post office where post is delivered, a post office containing post office boxes/personal mail boxes. Note that not all countries have PostOffice. Can be used to represent overseas military addresses also along with PostalDeliveryPoint element</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Name or number of the post office in free text or structured form.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="PostOfficeTypeList">
						<xs:annotation>
							<xs:documentation>Indicates the type of postal delivery office from where the mail will be distributed to the final delivery point by a delivery mode.  Example: Post Office, Mail Collection Centre, Letter Carrier Depot,  Station, etc. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GeoRSS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>GeoRSS GML from Open Geospatial Consortium (OGC – www.opengeospatial.net) is a formal GML Application Profile, and supports a greater range of features than Simple, notably coordinate reference systems other than WGS84 latitude/longitude. It is designed for use with Atom 1.0, RSS 2.0 and RSS 1.0, although it can be used just as easily in non-RSS XML encodings. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="http://www.georss.org/georss" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Could be GeoRSS Simple or GeoRSS GML versions. Refer to http://georss.org/ and http://georss.org/gml for further documentation</xs:documentation>
							</xs:annotation>
						</xs:any>
					</xs:sequence>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="LocationByCoordinates" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Simple Geo-coordinates of the address/location</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Latitude" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Latitude details</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="DegreesMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the latitude in degrees</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MinutesMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the latitude in minutes</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="SecondsMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the latitude in seconds</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Direction" type="DirectionTypeList">
									<xs:annotation>
										<xs:documentation>The direction of latitude measurement offset from the equator</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:anyAttribute namespace="##other" processContents="lax"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Longitude" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Longitude details</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="DegreesMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the longitude in degrees</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MinutesMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the longitude in minutes</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="SecondsMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the longitude in seconds</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Direction" type="DirectionTypeList">
									<xs:annotation>
										<xs:documentation>The direction of  longitude measurement offset from the equator</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:anyAttribute namespace="##other" processContents="lax"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Meridian" type="MeridianCodeList">
						<xs:annotation>
							<xs:documentation>The collection of the coordinate numeric values for latitude amd longtitude depends on the agreed position of the meridian. Declaration of the meridian is necessary as it cannot be assumed in the data</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MeridianCodeType" type="ct:String">
						<xs:annotation>
							<xs:documentation>Type of code used. e.g. EPSG Code</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Datum" type="DatumCodeList">
						<xs:annotation>
							<xs:documentation>The collection of the coordinate numeric values depends on the agreed datum within which the measurement was taken. Declaration of the datum is necessary as it cannot be assumed in the data</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="DatumCodeType" type="ct:String">
						<xs:annotation>
							<xs:documentation>Type of code used. e.g. EPSG Code, WGS-84</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Projection" type="ProjectionCodeList">
						<xs:annotation>
							<xs:documentation>Coordinates have limited utility and application depending on the projection required for visualisation in a map. Declaration of projection is necessary as it cannot be assumed in data</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ProjectionCodeType" type="ct:String">
						<xs:annotation>
							<xs:documentation>Type of code used. e.g. EPSG Code</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" type="AddressTypeList">
			<xs:annotation>
				<xs:documentation>Defines the type of address. An address type can be" Primary Address, Secondary Address, Rural Address, Military Address, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AddressID" type="ct:String">
			<xs:annotation>
				<xs:documentation>A unique address identifier such as postal delivery idetifier assigned to the address by local postal authority, e.g. DPID in Australia.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AddressIDType" type="AddressIDTypeList">
			<xs:annotation>
				<xs:documentation>Type of address ID used. e.g. DPID, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="ct:String">
			<xs:annotation>
				<xs:documentation>A globally unique identifier assigned to the address</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Usage" type="AddressUsageList">
			<xs:annotation>
				<xs:documentation>The purpose the address is used for. E.g.  Postal, residential, business,  exchange, update, create, delete, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DeliveryMode" type="DeliveryModeList">
			<xs:annotation>
				<xs:documentation>Mode of delivery of address. For example: rural route, normal delivery, post office box, etc. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="ct:StatusList">
			<xs:annotation>
				<xs:documentation>Status of the entity. e.g. Old, Current, Inactive, Active, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ct:grValidityDate"/>
		<xs:attribute name="AddressKey" type="ct:String">
			<xs:annotation>
				<xs:documentation>A primary key to reference Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AddressKeyRef" type="ct:String">
			<xs:annotation>
				<xs:documentation>A foreign key to reference attribute Key of Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xlink:type"/>
		<xs:attribute ref="xlink:label"/>
		<xs:attribute ref="xlink:href"/>
		<xs:attributeGroup ref="ct:grDataQuality"/>
		<xs:attributeGroup ref="ct:grLanguageCode"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CountryType">
		<xs:annotation>
			<xs:documentation>Complex type that defines the name of the country and is reused in other CIQ specs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameElement" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Data associated with the name of the country in whatever form available, e.g. full, abbreviation, common use, code of the country, etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:attribute name="NameType" type="CountryNameTypeList">
								<xs:annotation>
									<xs:documentation>Semantics of data associated with name. </xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="NameCode" type="CountryNameCodeList">
								<xs:annotation>
									<xs:documentation>Name of the country represented as a code</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="NameCodeType" type="ct:String">
								<xs:annotation>
									<xs:documentation>Type of code used to represent name of country, e.g. iso-3166</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:anyAttribute namespace="##other"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="IdentifierType">
		<xs:annotation>
			<xs:documentation>Complex type for internal reuse</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ct:String">
				<xs:attribute name="Type" type="IdentifierElementTypeList">
					<xs:annotation>
						<xs:documentation>Indicates which part of number or identifier this element contains. Some "numbers" are as simple as 42 and some "numbers" are more like complex aplhanumberic identifiers as Postcodes in UK or Canada, e.g. M2H 2S5. It may be necessary to separate the "number" into sub-elements and indicate what type of information each of them contains.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ct:grAbbreviation"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PremisesType">
		<xs:annotation>
			<xs:documentation>Complex type for internal reuse</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="NameElement">
				<xs:annotation>
					<xs:documentation>Data associated with the name of the Premises. e.g. Full name of premises or part of the name. E.g. Westfield shopping center, reference data to support the premises location, street in the premises</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:attribute name="NameType" type="PremisesElementTypeList">
								<xs:annotation>
									<xs:documentation>Describes the type / part of name this element contains.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:anyAttribute namespace="##other"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Number" type="IdentifierType">
				<xs:annotation>
					<xs:documentation>Data associated with the number of the premises. E.g.House 15, number range, number suffix</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ThoroughfareType">
		<xs:annotation>
			<xs:documentation>Complex type for internal reuse</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="NameElement">
				<xs:annotation>
					<xs:documentation>Data associated with the thoroughfare details. e.g. Full thoroughfare name or part of it, type of thoroughfare, old name, new name, reference data in support of the thoroughfare</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:attribute name="NameType" type="ThoroughfareNameTypeList">
								<xs:annotation>
									<xs:documentation>Describes the type / part of name this element contains.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:anyAttribute namespace="##other"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Number" type="IdentifierType">
				<xs:annotation>
					<xs:documentation>Data associated with the number of the thoroughfare. E.g. 39 in 39 Baker Street, street range, street suffix</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Type" type="ThoroughfareTypeList">
			<xs:annotation>
				<xs:documentation>Type of thoroughfare. eg. primary road, secondary road, road branch (e.g. Lane 14), road sub branch (e.g. Alley 21), adjourning street, cross street, closest street, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TypeCode" type="ct:String">
			<xs:annotation>
				<xs:documentation>Type of code use for thoroughfare</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ct:grDataQuality"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
</xs:schema>
