cyberscope/schemas/oasis/xNL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:oasis:names:tc:ciq:xnl:3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ct="urn:oasis:names:tc:ciq:ct:3" targetNamespace="urn:oasis:names:tc:ciq:xnl:3" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:annotation>
		<xs:documentation> 
		Specification Name: OASIS CIQ TC - extensible Name Language (xNL) 
		Description: Defines the W3C schema for representing party names (Person or Organisation)
		(Using XML Schema based standard code list/enumeration mechanism - OPTION 1 AND DEFAULT)
		Produced by: OASIS Customer Information Quality Technical Committee
		URL: http://www.oasis-open.org/committees/ciq
		Version: 3.0  
		Status: Committee Specification
		Copyright: 2006-07, OASIS, http://www.oasis-open.org
		Last Modified: 18 September 2007
		Last Modified by: Ram Kumar, Chair, OASIS CIQ TC 
		
		NOTE: Do not modify this schema as it will break specifications compatibility 
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:oasis:names:tc:ciq:ct:3"/>
	<xs:import namespace="http://www.w3.org/1999/xlink"/>
	<xs:simpleType name="JointNameConnectorList">
		<xs:annotation>
			<xs:documentation>A list of possible values for joint name connector</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="NameLineTypeList">
		<xs:annotation>
			<xs:documentation>A list of possible values for types of name lines</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="PartyNameIDTypeList">
		<xs:annotation>
			<xs:documentation>A list of all types of Party Name IDs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="PartyNameUsageList">
		<xs:annotation>
			<xs:documentation>A list of usage types of party name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PersonNameElementList">
		<xs:annotation>
			<xs:documentation>A list of person name element types, e.g. First Name, Last Name, Title, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="PrecedingTitle">
				<xs:annotation>
					<xs:documentation>His Excellency, Honorable, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Title">
				<xs:annotation>
					<xs:documentation>A title signifies some sort of status, such as Mr, Miss, Ms (marriage status), or education such as Professor, PhD, Dr, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FirstName">
				<xs:annotation>
					<xs:documentation>The most important name element by which this particular individual is identified in the group. E.g. John, Sam, Brian for Anglo-Saxon cultures.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MiddleName">
				<xs:annotation>
					<xs:documentation>Name elements related to additional identification of the individual, such as names are parents or places.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LastName">
				<xs:annotation>
					<xs:documentation>Name element that identifies the group the individual belongs to and is identified by, such as Last Name, Surname, Family Name, etc. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OtherName">
				<xs:annotation>
					<xs:documentation>Any other additional names that are not directly used to identify or call the individual, such as names of ancestors, saints, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Alias">
				<xs:annotation>
					<xs:documentation>A simple nick name that is commonly used as part of the name. E.g. a fancy kick-boxer can be commonly known as Bill "Storm" Bababoons, where "Storm" is obviously an alias.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GenerationIdentifier">
				<xs:annotation>
					<xs:documentation>Junior, Senior, The Second, IV,  etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Degree"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonNameUsageList">
		<xs:annotation>
			<xs:documentation>A list of usage types of person name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="PersonIDTypeList">
		<xs:annotation>
			<xs:documentation>A list of all types of person name IDs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="OrganisationIDTypeList">
		<xs:annotation>
			<xs:documentation>A list of all types of organisation name IDs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="OrganisationNameElementList">
		<xs:annotation>
			<xs:documentation>A list of organisation name element types, e.g. Name, propriety type, liability type, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="NameOnly">
				<xs:annotation>
					<xs:documentation>"Sakthisoft" in "Sakthisoft Pty. Ltd". "Pty.Ltd" is the legal entity for the organisation name "Sakthisoft"</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TypeOnly">
				<xs:annotation>
					<xs:documentation>"Pty. Ltd" in Sakthisoft Pty.Ltd, where "Sakthisoft" is the name of the organisation.

""Inc" in ABC Inc, where "ABC" is organisation name</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FullName">
				<xs:annotation>
					<xs:documentation>Full Name of the organisation. e.g. Sakthisoft Pty. Ltd</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationNameUsageList">
		<xs:annotation>
			<xs:documentation>A list of usage types for organisation name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="PersonNameTypeList">
		<xs:annotation>
			<xs:documentation>A list of common types for person names</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Alias"/>
			<xs:enumeration value="LegalName"/>
			<xs:enumeration value="KnownAs"/>
			<xs:enumeration value="MaidenName">
				<xs:annotation>
					<xs:documentation>Name of an individual before marriage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FormerName">
				<xs:annotation>
					<xs:documentation>Former name of the person</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CommonUse">
				<xs:annotation>
					<xs:documentation>Name that is commonly used by others, e.g. a simplified form of the official name.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NameAtBirth">
				<xs:annotation>
					<xs:documentation>A name given to an individual at birth, but later changed (common in some cultures)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PreferredName">
				<xs:annotation>
					<xs:documentation>Indicates that the party prefers to be called by this name</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OfficialName">
				<xs:annotation>
					<xs:documentation>An official name of the person, e.g. as in the passport. incorporation certificate, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UnofficialName"/>
			<xs:enumeration value="NickName"/>
			<xs:enumeration value="PetName"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationNameTypeList">
		<xs:annotation>
			<xs:documentation>A list of common types for organisation names</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="LegalName"/>
			<xs:enumeration value="FormerName">
				<xs:annotation>
					<xs:documentation>Former name of the organisation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CommonUse"/>
			<xs:enumeration value="PublishingName"/>
			<xs:enumeration value="OfficialName"/>
			<xs:enumeration value="UnofficialName"/>
			<xs:enumeration value="Undefined">
				<xs:annotation>
					<xs:documentation>unknown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubDivisionTypeList">
		<xs:annotation>
			<xs:documentation>A list of common types for subdivisions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Department"/>
			<xs:enumeration value="Division"/>
			<xs:enumeration value="Branch"/>
			<xs:enumeration value="BusinessUnit"/>
			<xs:enumeration value="School"/>
			<xs:enumeration value="Section"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="grNameKey">
		<xs:annotation>
			<xs:documentation>Reference to another Person Name or Organisation Name with primary and foreign key reinforcement. </xs:documentation>
		</xs:annotation>
		<xs:attribute name="NameKey" type="ct:String">
			<xs:annotation>
				<xs:documentation>A primary key to reference Party Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NameKeyRef" type="ct:String">
			<xs:annotation>
				<xs:documentation>A foreign key to reference attribute Key of Party Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="PartyNameType">
		<xs:annotation>
			<xs:documentation>Reusable complex type for a party. A party is a person or an organisation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="NameLine" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PersonName" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Container for person name details. Same person with many types (e.g. alias, pet name, nick name)  of names can be used by this container.  </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PersonNameType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrganisationName" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A container for organisation name details. Same organisaion with many types of names can be used by this container</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="OrganisationNameType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PartyNameID" type="ct:String">
			<xs:annotation>
				<xs:documentation>A unique identifier of a party</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PartyNameIDType" type="PartyNameIDTypeList">
			<xs:annotation>
				<xs:documentation>Type of Party Name ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="ct:String">
			<xs:annotation>
				<xs:documentation>Globally unique identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Usage" type="PartyNameUsageList">
			<xs:annotation>
				<xs:documentation>Tye of use of this data. e.g. data exchange, contact, update, create</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="ct:StatusList">
			<xs:annotation>
				<xs:documentation>Status of the entity. e.g. Old, Current, Inactive, Active, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="JointNameConnector" type="JointNameConnectorList">
			<xs:annotation>
				<xs:documentation>The connector used to join more than one person name. Example: Mr Hunt AND Mrs Clark, where AND is the JointNameConnector. The flow is from the preceding to the following. If there is more than 2 names then all names are connected using this connector in the natural order.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ct:grValidityDate"/>
		<xs:attributeGroup ref="grNameKey"/>
		<xs:attribute ref="xlink:type"/>
		<xs:attribute ref="xlink:label"/>
		<xs:attribute ref="xlink:href"/>
		<xs:attributeGroup ref="ct:grDataQuality"/>
		<xs:attributeGroup ref="ct:grLanguageCode"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation>Reusable complex type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameElement" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name or part of a name. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attribute name="ElementType" type="PersonNameElementList">
								<xs:annotation>
									<xs:documentation>Clarifies the meaning of the element.Could be first name, middle name, etc. that is defined in the List list. Omit this attribute if the type of the name element is not known.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:anyAttribute namespace="##other" processContents="lax"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" type="PersonNameTypeList">
			<xs:annotation>
				<xs:documentation>Enumerated list of type of name.  example: Alias, Nick Name, former name, known as, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PersonID" type="ct:String">
			<xs:annotation>
				<xs:documentation>A unique identifier of a person</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PersonIDType" type="PersonIDTypeList">
			<xs:annotation>
				<xs:documentation>Type of identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="ct:String">
			<xs:annotation>
				<xs:documentation>Globally unique identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Usage" type="PersonNameUsageList">
			<xs:annotation>
				<xs:documentation>Usage of a person name. How is it used and for what purpose. Allows user which name in a set of names to select for a given purpose.
e.g. used for legal purposes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="ct:StatusList">
			<xs:annotation>
				<xs:documentation>Status of the entity. e.g. Old, Current, Inactive, Active, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ct:grValidityDate"/>
		<xs:attributeGroup ref="grNameKey"/>
		<xs:attribute ref="xlink:type"/>
		<xs:attribute ref="xlink:label"/>
		<xs:attribute ref="xlink:href"/>
		<xs:attributeGroup ref="ct:grDataQuality"/>
		<xs:attributeGroup ref="ct:grLanguageCode"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="OrganisationNameType">
		<xs:annotation>
			<xs:documentation>Reusable complex type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameElement" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name of the organisation. E.g. ACME Inc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attribute name="ElementType" type="OrganisationNameElementList">
								<xs:annotation>
									<xs:documentation>Clarifies the meaning of the element. Example: name, type . Omit this attribute if the type of the name element is not known.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:anyAttribute namespace="##other" processContents="lax"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubDivisionName" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name of a subdivision of an organisation (e.g. department) </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attribute name="Type" type="SubDivisionTypeList">
								<xs:annotation>
									<xs:documentation>Type of sub division. e.g. department, warehouse, branch</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:anyAttribute namespace="##other" processContents="lax"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" type="OrganisationNameTypeList">
			<xs:annotation>
				<xs:documentation>Enumerated list of common types of aliases or name types.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OrganisationID" type="ct:String">
			<xs:annotation>
				<xs:documentation>A unique identifier of an organisation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OrganisationIDType" type="OrganisationIDTypeList">
			<xs:annotation>
				<xs:documentation>Type of identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="ct:String">
			<xs:annotation>
				<xs:documentation>Globally unique identifer</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Usage" type="OrganisationNameUsageList">
			<xs:annotation>
				<xs:documentation>Usage of organisation name. How is it used and for what purpose. Allows user which name in a set of names to select for a given purpose.
e.g. used for legal purposes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="ct:StatusList">
			<xs:annotation>
				<xs:documentation>Status of the entity. e.g. Old, Current, Inactive, Active, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ct:grValidityDate"/>
		<xs:attributeGroup ref="grNameKey"/>
		<xs:attribute ref="xlink:type"/>
		<xs:attribute ref="xlink:label"/>
		<xs:attribute ref="xlink:href"/>
		<xs:attributeGroup ref="ct:grDataQuality"/>
		<xs:attributeGroup ref="ct:grLanguageCode"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:element name="NameLine">
		<xs:annotation>
			<xs:documentation>Define name as a free format text. Use this when the type of the entity (person or organisation) is unknown, or is not broken down into individual elements (e.g. unstructured, unparsed) or is beyond the provided types. The name represented may be formatted in the right order or may not be as it is not parsed/broken into atomic fields</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ct:String">
					<xs:attribute name="Type" type="NameLineTypeList">
						<xs:annotation>
							<xs:documentation>Type define what this free format name line could mean. For example, the Type could be "Unknown" </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grAbbreviation"/>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyName" type="PartyNameType">
		<xs:annotation>
			<xs:documentation>Container for defining a name of a Person, an Organisation or combination of the above as a joint name.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonName" type="PersonNameType">
		<xs:annotation>
			<xs:documentation>Person Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OrganisationName" type="OrganisationNameType">
		<xs:annotation>
			<xs:documentation>Organisation Name</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
