components/ws-man/xsd/ms-wsman-cert.xsd

<xs:schema targetNamespace="http://schemas.microsoft.com/wbem/wsman/1/config/service/certmapping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="CertMappingType">
        <xs:sequence>
            <xs:element name="URI" type="xs:string"/>
            <xs:element name="Subject" type="xs:string"/>
            <xs:element name="Issuer" type="xs:string"/>
            <xs:element name="UserName" type="xs:string" minOccurs="0"/>
            <xs:element name="Enabled" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Password" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
