jovaldi/rsrc/xml/sharepoint-system-characteristics-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5"
            xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
            xmlns:sp-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#sharepoint"
            xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            targetNamespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#sharepoint"
            elementFormDefault="qualified"
            version="5.9">
   <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
               schemaLocation="oval-system-characteristics-schema.xsd"/>
   <xsd:element name="spwebapplication_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="webapplicationurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="allowparttopartcommunication" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="allowaccesstowebpartcatalog" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="blockedfileextention" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="unbounded"/>
                  <xsd:element name="defaultquotatemplate" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="externalworkflowparticipantsenabled" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="recyclebinenabled" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="automaticallydeleteunusedsitecollections"
                               type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="selfservicesitecreationenabled" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="secondstagerecyclebinquota" type="oval-sc:EntityItemIntType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="recyclebinretentionperiod" type="oval-sc:EntityItemIntType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="outboundmailserverinstance" type="oval-sc:EntityItemStringType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="outboundmailsenderaddress" type="oval-sc:EntityItemStringType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="outboundmailreplytoaddress" type="oval-sc:EntityItemStringType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="secvalexpires" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="timeout" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="isadministrationwebapplication" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="applicationpoolname" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="applicationpoolusername" type="oval-sc:EntityItemStringType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="openitems" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="addlistitems" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="approveitems" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="deletelistitems" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="deleteversions" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="editlistitems" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="managelists" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="viewversions" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="viewlistitems" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="cancelcheckout" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="createalerts" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="viewformpages" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="viewpages" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="addandcustomizepages" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="applystylesheets" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="applythemeandborder" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="browsedirectories" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="browseuserinfo" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="creategroups" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="createsscsite" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="editmyuserinfo" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="enumeratepermissions" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="managealerts" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="managepermissions" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="managesubwebs" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="manageweb" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="open" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="useclientintegration" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="useremoteapis" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="viewusagedata" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="managepersonalviews" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="adddelprivatewebparts" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="updatepersonalwebparts" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spgroup_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="sitecollectionurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="gname" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="autoacceptrequesttojoinleave" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="allowmemberseditmembership" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="onlyallowmembersviewmembership" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spweb_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="webcollectionurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="sitecollectionurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="secondarysitecolladmin" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="secondsitecolladminenabled" type="oval-sc:EntityItemBoolType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="allowanonymousaccess" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="splist_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="spsiteurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="irmenabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="enableversioning" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="nocrawl" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spantivirussettings_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="spwebservicename" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="spfarmname" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="allowdownload" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="cleaningenabled" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="downloadscanenabled" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="numberofthreads" type="oval-sc:EntityItemIntType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="skipsearchcrawl" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="timeout" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="uploadscanenabled" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="vendorupdatecount" type="oval-sc:EntityItemIntType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spsiteadministration_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="sitecollectionurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="storagemaxlevel" type="oval-sc:EntityItemIntType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="storagewarninglevel" type="oval-sc:EntityItemIntType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spsite_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="sitecollectionurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="quotaname" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="url" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spcrawlrule_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="spsiteurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="crawlashttp" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="enabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="followcomplexurls" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="path" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="priority" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="suppressindexing" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="accountname" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spjobdefinition_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="webappuri" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="displayname" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="isdisabled" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="retry" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="title" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="bestbet_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="sitecollectionurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="bestbeturl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="title" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="description" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="infopolicycoll_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="sitecollectionurl" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="id" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="description" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="longdescription" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spdiagnosticsservice_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="farmname" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="displayname" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="logcutinterval" type="oval-sc:EntityItemIntType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="loglocation" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="logstokeep" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="required" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="typename" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="spdiagnosticslevel_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="farmname" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="eventseverity" type="sp-sc:EntityItemEventSeverityType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="hidden" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="levelid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="levelname" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="traceseverity" type="sp-sc:EntityItemTraceSeverityType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="sppolicyfeature_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="farmname" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="configpage" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="defaultcustomdata" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="description" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="globalconfigpage" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="globalcustomdata" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="group" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="publisher" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="state" type="sp-sc:EntityItemPolicyFeatureStateType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="sppolicy_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="webappuri" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="urlzone" type="sp-sc:EntityItemUrlZoneType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="displayname" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="issystemuser" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="username" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="policyroletype" type="sp-sc:EntityItemPolicyRoleType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="EntityItemUrlZoneType">
      <xsd:simpleContent>
         <xsd:restriction base="oval-sc:EntityItemStringType">
            <xsd:enumeration value="Custom"/>
            <xsd:enumeration value="Default"/>
            <xsd:enumeration value="Extranet"/>
            <xsd:enumeration value="Intranet"/>
            <xsd:enumeration value="Internet"/>
            <xsd:enumeration value=""/>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EntityItemEventSeverityType">
      <xsd:simpleContent>
         <xsd:restriction base="oval-sc:EntityItemStringType">
            <xsd:enumeration value="Error"/>
            <xsd:enumeration value="ErrorCritical"/>
            <xsd:enumeration value="ErrorSecurityBreach"/>
            <xsd:enumeration value="ErrorServiceUnavailable"/>
            <xsd:enumeration value="FailureAudit"/>
            <xsd:enumeration value="Information"/>
            <xsd:enumeration value="None"/>
            <xsd:enumeration value="Success"/>
            <xsd:enumeration value="SuccessAudit"/>
            <xsd:enumeration value="Warning"/>
            <xsd:enumeration value=""/>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EntityItemTraceSeverityType">
      <xsd:simpleContent>
         <xsd:restriction base="oval-sc:EntityItemStringType">
            <xsd:enumeration value="High"/>
            <xsd:enumeration value="Medium"/>
            <xsd:enumeration value="Monitorable"/>
            <xsd:enumeration value="None"/>
            <xsd:enumeration value="Unexpected"/>
            <xsd:enumeration value="Verbose"/>
            <xsd:enumeration value=""/>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EntityItemPolicyFeatureStateType">
      <xsd:simpleContent>
         <xsd:restriction base="oval-sc:EntityItemStringType">
            <xsd:enumeration value="Hidden"/>
            <xsd:enumeration value="Visible"/>
            <xsd:enumeration value=""/>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EntityItemPolicyRoleType">
      <xsd:simpleContent>
         <xsd:restriction base="oval-sc:EntityItemStringType">
            <xsd:enumeration value="DenyAll"/>
            <xsd:enumeration value="DenyWrite"/>
            <xsd:enumeration value="FullControl"/>
            <xsd:enumeration value="FullRead"/>
            <xsd:enumeration value="None"/>
            <xsd:enumeration value=""/>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>