components/ws-man/ms-wsmv.wsdl

<wsdl:definitions targetNamespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd"
		  xmlns:cfg="http://schemas.microsoft.com/wbem/wsman/1/config"
		  xmlns:wsmanfault="http://schemas.microsoft.com/wbem/wsman/1/wsmanfault"
		  xmlns:tns="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd"
		  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
		  xmlns:wst="http://schemas.xmlsoap.org/ws/2004/09/transfer"
		  xmlns:wse="http://schemas.xmlsoap.org/ws/2004/08/eventing"
		  xmlns:wsen="http://schemas.xmlsoap.org/ws/2004/09/enumeration"
		  xmlns:envelope="http://www.w3.org/2003/05/soap-envelope"
		  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		  xmlns:xs="http://www.w3.org/2001/XMLSchema"
		  xmlns:i="http://schemas.microsoft.com/wbem/wsman/1/cim/interactive.xsd">
    <wsdl:types>
        <xs:schema targetNamespace="http://schemas.microsoft.com/wbem/wsman/1/cim/interactive.xsd" xmlns:tns="http://schemas.microsoft.com/wbem/wsman/1/cim/interactive.xsd">
            <xs:simpleType name="EventType_Type">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="NoSemantics"/>
                    <xs:enumeration value="Debug"/>
                    <xs:enumeration value="Warning"/>
                    <xs:enumeration value="Verbose"/>
                    <xs:enumeration value="Progress"/>
                    <xs:enumeration value="Confirm"/>
                    <xs:enumeration value="ErrorAction"/>
                    <xs:enumeration value="StreamingOutput"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Type_Type">
                <xs:restriction base="xs:unsignedInt">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                    <xs:enumeration value="7"/>
                    <xs:enumeration value="8"/>
                    <xs:enumeration value="9"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="11"/>
                    <xs:enumeration value="12"/>
                    <xs:enumeration value="13"/>
                    <xs:enumeration value="14"/>
                    <xs:enumeration value="15"/>
                    <xs:enumeration value="16"/>
                    <xs:enumeration value="17"/>
                    <xs:enumeration value="18"/>
                    <xs:enumeration value="19"/>
                    <xs:enumeration value="20"/>
                    <xs:enumeration value="21"/>
                    <xs:enumeration value="22"/>
                    <xs:enumeration value="23"/>
                    <xs:enumeration value="24"/>
                    <xs:enumeration value="25"/>
                    <xs:enumeration value="26"/>
                    <xs:enumeration value="27"/>
                    <xs:enumeration value="28"/>
                    <xs:enumeration value="29"/>
                    <xs:enumeration value="30"/>
                    <xs:enumeration value="31"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ActionType_Type">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Inquire"/>
                    <xs:enumeration value="Report"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PromptType_Type">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Normal"/>
                    <xs:enumeration value="Critical"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="InteractiveEventComplexType" mixed="true">
                <xs:sequence>
                    <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InteractiveEventType">
                <xs:sequence>
                    <xs:element name="EventType" type="tns:EventType_Type"/>
                    <xs:element name="Description" type="tns:InteractiveEventComplexType" minOccurs="0"/>
                    <xs:element name="Activity" type="xs:string" minOccurs="0"/>
                    <xs:element name="CurrentOperation" type="xs:string" minOccurs="0"/>
                    <xs:element name="StatusDescription" type="xs:string" minOccurs="0"/>
                    <xs:element name="PercentComplete" type="xs:unsignedInt" minOccurs="0"/>
                    <xs:element name="SecondsRemaining" type="xs:unsignedInt" minOccurs="0"/>
                    <xs:element name="ActionType" type="tns:ActionType_Type" minOccurs="0"/>
                    <xs:element name="PromptType" type="tns:PromptType_Type" minOccurs="0"/>
                    <xs:element name="Name" type="xs:string" minOccurs="0"/>
                    <xs:element name="Type" type="tns:Type_Type" minOccurs="0"/>
                    <xs:element name="Value" type="tns:InteractiveEventComplexType" minOccurs="0"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##any"/>
            </xs:complexType>
            <xs:simpleType name="ResponseType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="yes"/>
                    <xs:enumeration value="no"/>
                    <xs:enumeration value="yesToAll"/>
                    <xs:enumeration value="noToAll"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="InteractiveResponseType">
                <xs:sequence>
                    <xs:element name="EventType" type="tns:EventType_Type"/>
                    <xs:element name="Response" type="tns:ResponseType"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##any"/>
            </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="http://schemas.microsoft.com/wbem/wsman/1/config/service/wsmanfault" xmlns:tns="http://schemas.microsoft.com/wbem/wsman/1/config/service/wsmanfault">
            <xs:complexType name="MessageType" mixed="true">
                <xs:sequence>
                    <xs:element name="ProviderFault" type="tns:ProviderFaultType" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSManFaultType">
                <xs:sequence>
                    <xs:element name="Message" type="tns:MessageType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="Code" type="xs:unsignedInt" use="required"/>
                <xs:attribute name="Machine" type="xs:string" use="required"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:complexType>
            <xs:simpleType name="GUIDType">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ProviderFaultType" mixed="true">
                <xs:sequence>
                    <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="providerId" type="tns:GUIDType"/>
                <xs:anyAttribute processContents="lax"/>
            </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="http://schemas.microsoft.com/wbem/wsman/1/config/service/certmapping">
            <xs:complexType name="CertMappingType">
                <xs:sequence>
                    <xs:element name="URI" type="xs:string"/>
                    <xs:element name="Subject" type="xs:string"/>
                    <xs:element name="Issuer" type="xs:string"/>
                    <xs:element name="UserName" type="xs:string" minOccurs="0"/>
                    <xs:element name="Enabled" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="Password" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="http://schemas.microsoft.com/wbem/wsman/1/config" xmlns:cfg="http://schemas.microsoft.com/wbem/wsman/1/config" elementFormDefault="qualified" attributeFormDefault="qualified">
            <xs:complexType name="ClientAuthType">
                <xs:sequence>
                    <xs:element name="Basic" type="xs:boolean" default="true"/>
                    <xs:element name="Digest" type="xs:boolean" default="true"/>
                    <xs:element name="Kerberos" type="xs:boolean" default="true"/>
                    <xs:element name="Negotiate" type="xs:boolean" default="true"/>
                    <xs:element name="Certificate" type="xs:boolean" default="true"/>
                    <xs:element name="CredSSP" type="xs:boolean" default="false" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientDefaultPortsType">
                <xs:sequence>
                    <xs:element name="HTTP" type="xs:unsignedInt" default="5985"/>
                    <xs:element name="HTTPS" type="xs:unsignedInt" default="5986"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientType">
                <xs:sequence>
                    <xs:element name="NetworkDelayms" type="xs:unsignedInt" default="5000"/>
                    <xs:element name="URLPrefix" type="xs:string" default="wsman"/>
                    <xs:element name="AllowUnencrypted" type="xs:boolean" default="false"/>
                    <xs:element name="Auth" type="cfg:ClientAuthType"/>
                    <xs:element name="DefaultPorts" type="cfg:ClientDefaultPortsType"/>
                    <xs:element name="TrustedHosts" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ConfigType">
                <xs:sequence>
                    <xs:element name="MaxEnvelopeSizekb" type="xs:unsignedInt" default="150"/>
                    <xs:element name="MaxTimeoutms" type="xs:unsignedInt" default="60000"/>
                    <xs:element name="MaxBatchItems" type="xs:unsignedInt" default="20"/>
                    <xs:element name="MaxProviderRequests" type="xs:unsignedInt" default="25"/>
                    <xs:element name="Client" type="cfg:ClientType"/>
                    <xs:element name="Service" type="cfg:ServiceType"/>
                    <xs:element name="Winrs" type="cfg:WinrsType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListenerType">
                <xs:sequence>
                    <xs:element name="Address" type="xs:string"/>
                    <xs:element name="Transport" type="xs:string"/>
                    <xs:element name="Port" type="xs:unsignedInt"/>
                    <xs:element name="Hostname" type="xs:string"/>
                    <xs:element name="Enabled" type="xs:boolean" default="true" minOccurs="0"/>
                    <xs:element name="URLPrefix" type="xs:string" default="wsman" minOccurs="0"/>
                    <xs:element name="CertificateThumbprint" type="xs:string" minOccurs="0"/>
                    <xs:element name="ListeningOn" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceAuthType">
                <xs:sequence>
                    <xs:element name="Basic" type="xs:boolean" default="false"/>
                    <xs:element name="Kerberos" type="xs:boolean" default="true"/>
                    <xs:element name="Negotiate" type="xs:boolean" default="true"/>
                    <xs:element name="Certificate" type="xs:boolean" default="false"/>
                    <xs:element name="CredSSP" minOccurs="0" type="xs:boolean" default="false"/>
                    <xs:element name="CbtHardeningLevel" minOccurs="0" type="xs:string" default="Relaxed"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceDefaultPortsType">
                <xs:sequence>
                    <xs:element name="HTTP" type="xs:unsignedInt" default="5985"/>
                    <xs:element name="HTTPS" type="xs:unsignedInt" default="5986"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceType">
                <xs:sequence>
                    <xs:element name="RootSDDL" type="xs:string" default="O:NSG:BAD:P(A;;GA;;;BA)S:P(AU;FA;GA;;;WD)(AU;SA;GWGX;;;WD)"/>
                    <xs:element name="MaxConcurrentOperations" type="xs:unsignedInt" default="100"/>
                    <xs:element name="MaxConcurrentOperationsPerUser" type="xs:unsignedInt" minOccurs="0" default="15"/>
                    <xs:element name="EnumerationTimeoutms" type="xs:unsignedInt" default="60000"/>
                    <xs:element name="MaxConnections" type="xs:unsignedInt" default="5"/>
                    <xs:element name="MaxPacketRetrievalTimeSeconds" type="xs:unsignedInt" minOccurs="0" default="120"/>
                    <xs:element name="AllowUnencrypted" type="xs:boolean" default="false"/>
                    <xs:element name="Auth" type="cfg:ServiceAuthType"/>
                    <xs:element name="DefaultPorts" type="cfg:ServiceDefaultPortsType"/>
                    <xs:element name="IPv4Filter" type="xs:string"/>
                    <xs:element name="IPv6Filter" type="xs:string"/>
                    <xs:element name="CertificateThumbprint" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WinrsType">
                <xs:annotation>
                    <xs:documentation>This schema defines winrs configuration settings 
            </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="AllowRemoteShellAccess" type="xs:boolean" default="true"/>
                    <xs:element name="IdleTimeout" type="xs:unsignedLong" default="900000"/>
                    <xs:element name="MaxConcurrentUsers" type="xs:unsignedShort" default="5"/>
                    <xs:element name="MaxShellRunTime" type="xs:unsignedLong" default="28800000"/>
                    <xs:element name="MaxProcessesPerShell" type="xs:unsignedLong" default="5"/>
                    <xs:element name="MaxMemoryPerShellMB" type="xs:unsignedLong" default="0"/>
                    <xs:element name="MaxShellsPerUser" type="xs:unsignedLong" default="2"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="http://schemas.microsoft.com/wbem/wsman/1/config/PluginConfiguration" xmlns:plugin="http://schemas.microsoft.com/wbem/wsman/1/config/PluginConfiguration" xmlns:wsmanfault="http://schemas.microsoft.com/wbem/wsman/1/config/service/wsmanfault">
            <xs:complexType name="PluginType">
                <xs:sequence>
                    <xs:element name="Resources" type="plugin:ResourcesContainerType"/>
                    <xs:element name="InitializationParameters" minOccurs="0" type="plugin:InitializationParametersType"/>
                </xs:sequence>
                <xs:attribute name="Name" type="xs:string"/>
                <xs:attribute name="Filename" type="xs:string"/>
                <xs:attribute name="SDKVersion" type="xs:integer"/>
                <xs:attribute name="XmlRenderingType" type="plugin:XmlRenderingTypeEnumeration"/>
                <xs:attribute name="Architecture" type="xs:integer" use="optional"/>
                <xs:attribute name="UseSharedProcess" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="AutoRestart" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="ProcessIdleTimeoutSec" type="xs:integer" use="optional" default="0"/>
                <xs:attribute name="RunAsUser" type="xs:string" use="optional"/>
                <xs:attribute name="RunAsPassword" type="xs:string" use="optional"/>
                <xs:attribute name="OutputBufferingMode" type="plugin:OutputBufferingModeEnumeration" use="optional"/>
                <xs:attribute name="Enabled" type="xs:boolean" use="optional" default="true"/>
            </xs:complexType>
            <xs:complexType name="ParamType">
                <xs:sequence></xs:sequence>
                <xs:attribute name="Name" type="xs:string"/>
                <xs:attribute name="Value" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="ResourcesContainerType">
                <xs:sequence>
                    <xs:element name="Resource" type="plugin:ResourceType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResourceType">
                <xs:sequence>
                    <xs:element name="Security" type="plugin:SecurityType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Capability" type="plugin:CapabilityType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="ResourceURI" type="xs:anyURI"/>
                <xs:attribute name="SupportsOptions" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="ExactMatch" type="xs:boolean" use="optional" default="false"/>
            </xs:complexType>
            <xs:complexType name="SecurityType">
                <xs:sequence></xs:sequence>
                <xs:attribute name="Uri" type="xs:string"/>
                <xs:attribute name="Sddl" type="xs:string"/>
                <xs:attribute name="ExactMatch" type="xs:boolean" use="optional" default="false"/>
            </xs:complexType>
            <xs:simpleType name="CapabilityEnumeration">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Get"/>
                    <xs:enumeration value="Put"/>
                    <xs:enumeration value="Create"/>
                    <xs:enumeration value="Delete"/>
                    <xs:enumeration value="Invoke"/>
                    <xs:enumeration value="Enumerate"/>
                    <xs:enumeration value="Subscribe"/>
                    <xs:enumeration value="Shell"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="CapabilityType">
                <xs:sequence></xs:sequence>
                <xs:attribute name="Type" type="plugin:CapabilityEnumeration"/>
                <xs:attribute name="SupportsFragment" type="xs:boolean" use="optional" default="false"/>
                <xs:attribute name="SupportsFiltering" type="xs:boolean" use="optional" default="false"/>
            </xs:complexType>
            <xs:complexType name="InitializationParametersType">
                <xs:sequence>
                    <xs:element name="Param" type="plugin:ParamType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="XmlRenderingTypeEnumeration">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="text"/>
                    <xs:enumeration value="XmlReader"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="OutputBufferingModeEnumeration">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Block"/>
                    <xs:enumeration value="Drop"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" xmlns:wsman="http://schemas.dmtf.org/wbem/wsman/1/wsman.xsd" xmlns:wsmanfault="http://schemas.microsoft.com/wbem/wsman/1/config/service/wsmanfault" xmlns:cfg="http://schemas.microsoft.com/wbem/wsman/1/config">
            <xs:import namespace="http://schemas.dmtf.org/wbem/wscim/1/common" schemaLocation="xsd/common.xsd"/>
            <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="xsd/addressing.xsd"/>
            <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/09/transfer" schemaLocation="xsd/transfer.xsd"/>
            <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/08/eventing" schemaLocation="xsd/eventing.xsd"/>
            <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/09/enumeration" schemaLocation="xsd/enumeration.xsd"/>
            <xs:import namespace="http://www.w3.org/2003/05/soap-envelope" schemaLocation="xsd/soap-envelope.xsd"/>
            <xs:simpleType name="ArgumentType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:complexType name="CommandLine">
                <xs:sequence>
                    <xs:element name="Command" type="xs:string"/>
                    <xs:element name="Arguments" type="wsman:ArgumentType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CommandResponse">
                <xs:sequence>
                    <xs:element name="CommandId" type="xs:anyURI"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="SignalCodeEnumeration">
                <xs:restriction base="xs:anyURI">
                    <xs:enumeration value="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/signal/terminate"/>
                    <xs:enumeration value="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/signal/ctrl_c"/>
                    <xs:enumeration value="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/signal/ctrl_break"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Signal">
                <xs:sequence>
                    <xs:element name="Code" type="wsman:SignalCodeEnumeration"/>
                </xs:sequence>
                <xs:attribute name="CommandId" type="xs:anyURI" use="optional"/>
            </xs:complexType>
            <xs:complexType name="SignalResponse">
                <xs:sequence>
                    <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="StreamName">
                <xs:restriction base="xs:token"/>
            </xs:simpleType>
            <xs:complexType name="StreamType">
                <xs:simpleContent>
                    <xs:extension base="xs:base64Binary">
                        <xs:attribute name="Name" type="wsman:StreamName" use="required"/>
                        <xs:attribute name="CommandId" type="xs:anyURI" use="optional"/>
                        <xs:attribute name="End" type="xs:boolean" use="optional"/>
                        <xs:attribute name="Unit" type="xs:anyURI" use="optional"/>
                        <xs:attribute name="EndUnit" type="xs:boolean" use="optional"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="StreamNameList">
                <xs:list itemType="wsman:StreamName"/>
            </xs:simpleType>
            <xs:simpleType name="ExitCodeType">
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType name="CommandStateEnumeration">
                <xs:restriction base="xs:anyURI">
                    <xs:enumeration value="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/CommandState/Done"/>
                    <xs:enumeration value="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/CommandState/Pending"/>
                    <xs:enumeration value="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/CommandState/Running"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="CommandStateType">
                <xs:sequence>
                    <xs:element name="ExitCode" type="wsman:ExitCodeType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="CommandId" type="xs:anyURI" use="required"/>
                <xs:attribute name="State" type="wsman:CommandStateEnumeration"/>
            </xs:complexType>
            <xs:complexType name="Send">
                <xs:sequence>
                    <xs:element name="Stream" type="wsman:StreamType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DesiredStreamType">
                <xs:simpleContent>
                    <xs:extension base="wsman:StreamNameList">
                        <xs:attribute name="CommandId" type="xs:anyURI" use="optional"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="SendResponse">
                <xs:sequence>
                    <xs:element name="DesiredStream" type="wsman:StreamType" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Receive">
                <xs:sequence>
                    <xs:element name="DesiredStream" type="wsman:DesiredStreamType" minOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReceiveResponse">
                <xs:sequence>
                    <xs:element name="Stream" type="wsman:StreamType" minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element name="CommandState" type="wsman:CommandStateType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="SequenceID" type="xs:unsignedLong" use="optional"/>
            </xs:complexType>
            <xs:complexType name="ThumbprintType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="Role" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="ClientCertificateType">
                <xs:sequence>
                    <xs:element name="Thumbprint" type="wsman:ThumbprintType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuthenticationType">
                <xs:sequence>
                    <xs:element name="ClientCertificate" type="wsman:ClientCertificateType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="Profile" type="xs:anyURI" use="required"/>
            </xs:complexType>
            <xs:complexType name="CustomRemoteShell">
                <xs:sequence>
                    <xs:element name="URI" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Shell" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Arguments" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EnvironmentVariable">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="Name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="EnvironmentVariableList">
                <xs:sequence maxOccurs="unbounded">
                    <xs:element name="Variable" type="wsman:EnvironmentVariable"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MachineIDType">
                <xs:sequence>
                    <xs:element name="MachineID" type="xs:string"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="Shell">
                <xs:sequence>
                    <xs:element name="ShellId" type="xs:anyURI" minOccurs="0"/>
                    <xs:element name="Environment" type="wsman:EnvironmentVariableList" minOccurs="0"/>
                    <xs:element name="WorkingDirectory" type="xs:string" minOccurs="0" nillable="false"/>
                    <xs:element name="Lifetime" type="xs:duration" minOccurs="0"/>
                    <xs:element name="IdleTimeout" type="xs:duration" minOccurs="0"/>
                    <xs:element name="InputStreams" type="wsman:StreamNameList" minOccurs="0"/>
                    <xs:element name="OutputStreams" type="wsman:StreamNameList" minOccurs="0"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriptionType">
                <xs:sequence>
                    <xs:element name="Version" type="xs:string"/>
                    <xs:element name="Envelope" type="envelope:Envelope"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QueryListType">
                <xs:sequence>
                    <xs:element name="Query" type="wsman:QueryType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QueryType">
                <xs:sequence>
                    <xs:element name="Select" type="wsman:SelectType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:integer"/>
            </xs:complexType>
            <xs:complexType name="SelectType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="Path" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:element name="CommandLine" type="wsman:CommandLine"/>
            <xs:element name="CommandResponse" type="wsman:CommandResponse"/>
            <xs:element name="Send" type="wsman:Send"/>
            <xs:element name="SendResponse" type="wsman:SendResponse"/>
            <xs:element name="Receive" type="wsman:Receive"/>
            <xs:element name="ReceiveResponse" type="wsman:ReceiveResponse"/>
            <xs:element name="Signal" type="wsman:Signal"/>
            <xs:element name="SignalResponse" type="wsman:SignalResponse"/>
            <xs:element name="QueryList" type="wsman:QueryListType"/>
        </xs:schema>
    </wsdl:types>
    <!-- Common messages -->
    <wsdl:message name="EmptyMessage"/>
    <wsdl:message name="AnyXmlMessage">
        <wsdl:part name="body" type="wst:AnyXmlType"/>
    </wsdl:message>
    <wsdl:message name="OptionalXmlMessage">
        <wsdl:part name="body" type="wst:AnyXmlOptionalType"/>
    </wsdl:message>
    <!-- Specific messages -->
    <wsdl:message name="CreateResponseMessage">
        <wsdl:part name="body" type="wst:CreateResponseType"/>
    </wsdl:message>
    <wsdl:message name="SubscribeMsg">
        <wsdl:part name="body" element="wse:Subscribe"/>
    </wsdl:message>
    <wsdl:message name="SubscribeResponseMsg">
        <wsdl:part name="body" element="wse:SubscribeResponse"/>
    </wsdl:message>
    <wsdl:message name="UnsubscribeMsg">
        <wsdl:part name="body" element="wse:Unsubscribe"/>
    </wsdl:message>
    <wsdl:message name="UnsubscribeResponseMsg"/>
    <wsdl:message name="EnumerateMessage">
        <wsdl:part name="body" element="wsen:Enumerate"/>
    </wsdl:message>
    <wsdl:message name="EnumerateResponseMessage">
        <wsdl:part name="body" element="wsen:EnumerateResponse"/>
    </wsdl:message>
    <wsdl:message name="PullMessage">
        <wsdl:part name="body" element="wsen:Pull"/>
    </wsdl:message>
    <wsdl:message name="PullResponseMessage">
        <wsdl:part name="body" element="wsen:PullResponse"/>
    </wsdl:message>
    <wsdl:message name="ReleaseMessage">
        <wsdl:part name="body" element="wsen:Release"/>
    </wsdl:message>
    <wsdl:message name="ReleaseResponseMessage"/>
    <wsdl:message name="EnumerationEndMessage">
        <wsdl:part name="body" element="wsen:EnumerationEnd"/>
    </wsdl:message>
    <wsdl:message name="CommandMessage">
        <wsdl:part name="body" element="tns:CommandLine"/>
    </wsdl:message>
    <wsdl:message name="CommandResponseMessage">
        <wsdl:part name="body" element="tns:CommandResponse"/>
    </wsdl:message>
    <wsdl:message name="SignalMessage">
        <wsdl:part name="body" element="tns:Signal"/>
    </wsdl:message>
    <wsdl:message name="SignalResponseMessage">
        <wsdl:part name="body" element="tns:SignalResponse"/>
    </wsdl:message>
    <wsdl:message name="SendMessage">
        <wsdl:part name="body" element="tns:Send"/>
    </wsdl:message>
    <wsdl:message name="SendResponseMessage">
        <wsdl:part name="body" element="tns:SendResponse"/>
    </wsdl:message>
    <wsdl:message name="ReceiveMessage">
        <wsdl:part name="body" element="tns:Receive"/>
    </wsdl:message>
    <wsdl:message name="ReceiveResponseMessage">
        <wsdl:part name="body" element="tns:ReceiveResponse"/>
    </wsdl:message>
    <!-- WSMAN portType -->
    <wsdl:portType name="WSMAN">
        <wsdl:operation name="Get">
            <wsdl:input message="tns:OptionalXmlMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Get"/>
            <wsdl:output message="tns:AnyXmlMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/GetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Put">
            <wsdl:input message="tns:AnyXmlMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Put"/>
            <wsdl:output message="tns:OptionalXmlMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/PutResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Delete">
            <wsdl:input message="tns:EmptyMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete"/>
            <wsdl:output message="tns:OptionalXmlMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/DeleteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Create">
            <wsdl:input message="tns:AnyXmlMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create"/>
            <wsdl:output message="tns:CreateResponseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/transfer/CreateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Subscribe">
            <wsdl:input message="tns:SubscribeMsg" wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Subscribe"/>
            <wsdl:output message="tns:SubscribeResponseMsg" wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/SubscribeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Unsubscribe">
            <wsdl:input message="tns:UnsubscribeMsg" wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/Unsubscribe"/>
            <wsdl:output message="tns:UnsubscribeResponseMsg" wsa:Action="http://schemas.xmlsoap.org/ws/2004/08/eventing/UnsubscribeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Enumerate">
            <wsdl:input message="tns:EnumerateMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate"/>
            <wsdl:output message="tns:EnumerateResponseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/EnumerateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Pull">
            <wsdl:input message="tns:PullMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull"/>
            <wsdl:output message="tns:PullResponseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/PullResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Release">
            <wsdl:input message="tns:ReleaseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release"/>
            <wsdl:output message="tns:ReleaseResponseMessage" wsa:Action="http://schemas.xmlsoap.org/ws/2004/09/enumeration/ReleaseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Command">
            <wsdl:input message="tns:CommandMessage" wsa:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Command"/>
            <wsdl:output message="tns:CommandResponseMessage" wsa:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/CommandResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Signal">
            <wsdl:input message="tns:SignalMessage" wsa:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Signal"/>
            <wsdl:output message="tns:SignalResponseMessage" wsa:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/SignalResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Send">
            <wsdl:input message="tns:SendMessage" wsa:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Send"/>
            <wsdl:output message="tns:SendResponseMessage" wsa:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/SendResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Receive">
            <wsdl:input message="tns:ReceiveMessage" wsa:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Receive"/>
            <wsdl:output message="tns:ReceiveResponseMessage" wsa:Action="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/ReceiveResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- WSMAN binding -->
    <wsdl:binding type="tns:WSMAN" name="WSMANBinding">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Get">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Get"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Put">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Put"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Delete">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Delete"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Create">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/transfer/Create"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Subscribe">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/08/eventing/Subscribe"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Unsubscribe">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/08/eventing/Unsubscribe"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Enumerate">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Enumerate"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Pull">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Pull"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Release">
            <soap:operation soapAction="http://schemas.xmlsoap.org/ws/2004/09/enumeration/Release"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Command">
            <soap:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Command"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Signal">
            <soap:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Signal"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Send">
            <soap:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Send"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Receive">
            <soap:operation soapAction="http://schemas.microsoft.com/wbem/wsman/1/windows/shell/Receive"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RemoteManagementService">
        <wsdl:port name="WSMANPort" binding="tns:WSMANBinding">
            <soap:address location="http://example.com:5985/wsman"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
