oval-schema/xsd-5.9/linux-system-characteristics-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:oval="http://oval.mitre.org/XMLSchema/oval-common-5"
            xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
            xmlns:linux-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#linux"
            xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="1.0"
            targetNamespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#linux"
            elementFormDefault="qualified"
            version="5.9">
   <xsd:annotation>
      <xsd:appinfo>
         <jxb:schemaBindings>
            <jxb:package name="oval.schemas.systemcharacteristics.linux"/>
         </jxb:schemaBindings>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"
               schemaLocation="oval-system-characteristics-schema.xsd"/>
   <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-common-5"
               schemaLocation="oval-common-schema.xsd"/>
   <xsd:element name="dpkginfo_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="arch" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="epoch" minOccurs="0" maxOccurs="1">
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                              <xsd:attribute name="datatype" use="optional" default="string">
                                 <xsd:simpleType>
                                    <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                       <xsd:enumeration value="string"/>
                                       <xsd:enumeration value="int"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:restriction>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="release" minOccurs="0" maxOccurs="1">
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                              <xsd:attribute name="datatype" use="optional" default="string">
                                 <xsd:simpleType>
                                    <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                       <xsd:enumeration value="string"/>
                                       <xsd:enumeration value="version"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:restriction>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="version" minOccurs="0" maxOccurs="1">
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                              <xsd:attribute name="datatype" use="optional" default="string">
                                 <xsd:simpleType>
                                    <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                       <xsd:enumeration value="string"/>
                                       <xsd:enumeration value="version"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:restriction>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="evr" type="oval-sc:EntityItemEVRStringType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="iflisteners_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="interface_name" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="protocol" type="linux-sc:EntityItemProtocolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="hw_address" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="program_name" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="pid" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="user_id" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="inetlisteningserver_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="protocol" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="local_address" type="oval-sc:EntityItemIPAddressStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="local_port" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="local_full_address" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="program_name" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="foreign_address" type="oval-sc:EntityItemIPAddressStringType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="foreign_port" type="oval-sc:EntityItemIntType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="foreign_full_address" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="pid" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="user_id" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="partition_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="mount_point" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="device" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="uuid" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="fs_type" type="linux-sc:EntityItemFileSystemTypeType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="mount_options" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="unbounded"/>
                  <xsd:element name="total_space" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="space_used" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="space_left" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="rpminfo_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="arch" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="epoch" minOccurs="0" maxOccurs="1">
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                              <xsd:attribute name="datatype" use="optional" default="string">
                                 <xsd:simpleType>
                                    <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                       <xsd:enumeration value="string"/>
                                       <xsd:enumeration value="int"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:restriction>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="release" minOccurs="0" maxOccurs="1">
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                              <xsd:attribute name="datatype" use="optional" default="string">
                                 <xsd:simpleType>
                                    <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                       <xsd:enumeration value="string"/>
                                       <xsd:enumeration value="version"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:restriction>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="version" minOccurs="0" maxOccurs="1">
                     <!-- jOVAL embellishment -->
                     <xsd:annotation>
                        <xsd:appinfo>
                           <jxb:property name="rpm_version" />
                        </xsd:appinfo>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:restriction base="oval-sc:EntityItemAnySimpleType">
                              <xsd:attribute name="datatype" use="optional" default="string">
                                 <xsd:simpleType>
                                    <xsd:restriction base="oval:SimpleDatatypeEnumeration">
                                       <xsd:enumeration value="string"/>
                                       <xsd:enumeration value="version"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:attribute>
                           </xsd:restriction>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="evr" type="oval-sc:EntityItemEVRStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="signature_keyid" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="rpmverify_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="filepath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="size_differs" type="linux-sc:EntityItemRpmVerifyResultType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="mode_differs" type="linux-sc:EntityItemRpmVerifyResultType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="md5_differs" type="linux-sc:EntityItemRpmVerifyResultType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="device_differs" type="linux-sc:EntityItemRpmVerifyResultType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="link_mismatch" type="linux-sc:EntityItemRpmVerifyResultType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="ownership_differs" type="linux-sc:EntityItemRpmVerifyResultType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="group_differs" type="linux-sc:EntityItemRpmVerifyResultType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="mtime_differs" type="linux-sc:EntityItemRpmVerifyResultType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="capabilities_differ" type="linux-sc:EntityItemRpmVerifyResultType"
                               minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="configuration_file" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="documentation_file" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="ghost_file" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="license_file" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="readme_file" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="selinuxboolean_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="current_status" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="pending_status" type="oval-sc:EntityItemBoolType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="selinuxsecuritycontext_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="filepath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="path" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="filename" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"
                               nillable="true"/>
                  <xsd:element name="pid" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="user" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="role" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="type" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="low_sensitivity" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="low_category" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="high_sensitivity" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="high_category" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="rawlow_sensitivity" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="rawlow_category" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="rawhigh_sensitivity" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="rawhigh_category" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="slackwarepkginfo_item" substitutionGroup="oval-sc:item">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="oval-sc:ItemType">
               <xsd:sequence>
                  <xsd:element name="name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="version" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
                  <xsd:element name="architecture" type="oval-sc:EntityItemStringType" minOccurs="0"
                               maxOccurs="1"/>
                  <xsd:element name="revision" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="EntityItemFileSystemTypeType">
      <xsd:simpleContent>
         <xsd:restriction base="oval-sc:EntityItemStringType">
            <xsd:enumeration value="ADFS_SUPER_MAGIC"/>
            <xsd:enumeration value="AFFS_SUPER_MAGIC"/>
            <xsd:enumeration value="AFS_SUPER_MAGIC"/>
            <xsd:enumeration value="AUTOFS_SUPER_MAGIC"/>
            <xsd:enumeration value="CODA_SUPER_MAGIC"/>
            <xsd:enumeration value="CRAMFS_MAGIC"/>
            <xsd:enumeration value="CRAMFS_MAGIC_WEND"/>
            <xsd:enumeration value="DEBUGFS_MAGIC"/>
            <xsd:enumeration value="SYSFS_MAGIC"/>
            <xsd:enumeration value="SECURITYFS_MAGIC"/>
            <xsd:enumeration value="SELINUX_MAGIC"/>
            <xsd:enumeration value="RAMFS_MAGIC"/>
            <xsd:enumeration value="TMPFS_MAGIC"/>
            <xsd:enumeration value="HUGETLBFS_MAGIC"/>
            <xsd:enumeration value="SQUASHFS_MAGIC"/>
            <xsd:enumeration value="EFS_SUPER_MAGIC"/>
            <xsd:enumeration value="EXT2_SUPER_MAGIC"/>
            <xsd:enumeration value="EXT3_SUPER_MAGIC"/>
            <xsd:enumeration value="XENFS_SUPER_MAGIC"/>
            <xsd:enumeration value="EXT4_SUPER_MAGIC"/>
            <xsd:enumeration value="BTRFS_SUPER_MAGIC"/>
            <xsd:enumeration value="HPFS_SUPER_MAGIC"/>
            <xsd:enumeration value="ISOFS_SUPER_MAGIC"/>
            <xsd:enumeration value="JFFS2_SUPER_MAGIC"/>
            <xsd:enumeration value="ANON_INODE_FS_MAGIC"/>
            <xsd:enumeration value="MINIX_SUPER_MAGIC"/>
            <xsd:enumeration value="MINIX_SUPER_MAGIC2"/>
            <xsd:enumeration value="MINIX2_SUPER_MAGIC"/>
            <xsd:enumeration value="MINIX2_SUPER_MAGIC2"/>
            <xsd:enumeration value="MINIX3_SUPER_MAGIC"/>
            <xsd:enumeration value="MSDOS_SUPER_MAGIC"/>
            <xsd:enumeration value="NCP_SUPER_MAGIC"/>
            <xsd:enumeration value="NFS_SUPER_MAGIC"/>
            <xsd:enumeration value="OPENPROM_SUPER_MAGIC"/>
            <xsd:enumeration value="PROC_SUPER_MAGIC"/>
            <xsd:enumeration value="QNX4_SUPER_MAGIC"/>
            <xsd:enumeration value="REISERFS_SUPER_MAGIC"/>
            <xsd:enumeration value="REISERFS_SUPER_MAGIC_STRING"/>
            <xsd:enumeration value="REISER2FS_SUPER_MAGIC_STRING"/>
            <xsd:enumeration value="REISER2FS_JR_SUPER_MAGIC_STRING"/>
            <xsd:enumeration value="SMB_SUPER_MAGIC"/>
            <xsd:enumeration value="USBDEVICE_SUPER_MAGIC"/>
            <xsd:enumeration value="CGROUP_SUPER_MAGIC"/>
            <xsd:enumeration value="FUTEXFS_SUPER_MAGIC"/>
            <xsd:enumeration value="STACK_END_MAGIC"/>
            <xsd:enumeration value="DEVPTS_SUPER_MAGIC"/>
            <xsd:enumeration value="SOCKFS_MAGIC"/>
            <xsd:enumeration value=""/>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EntityItemRpmVerifyResultType">
      <xsd:simpleContent>
         <xsd:restriction base="oval-sc:EntityItemStringType">
            <xsd:enumeration value="pass"/>
            <xsd:enumeration value="fail"/>
            <xsd:enumeration value="not performed"/>
            <xsd:enumeration value=""/>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EntityItemProtocolType">
      <xsd:simpleContent>
         <xsd:restriction base="oval-sc:EntityItemStringType">
            <xsd:enumeration value="ETH_P_LOOP"/>
            <xsd:enumeration value="ETH_P_PUP"/>
            <xsd:enumeration value="ETH_P_PUPAT"/>
            <xsd:enumeration value="ETH_P_IP"/>
            <xsd:enumeration value="ETH_P_X25"/>
            <xsd:enumeration value="ETH_P_ARP"/>
            <xsd:enumeration value="ETH_P_BPQ"/>
            <xsd:enumeration value="ETH_P_IEEEPUP"/>
            <xsd:enumeration value="ETH_P_IEEEPUPAT"/>
            <xsd:enumeration value="ETH_P_DEC"/>
            <xsd:enumeration value="ETH_P_DNA_DL"/>
            <xsd:enumeration value="ETH_P_DNA_RC"/>
            <xsd:enumeration value="ETH_P_DNA_RT"/>
            <xsd:enumeration value="ETH_P_LAT"/>
            <xsd:enumeration value="ETH_P_DIAG"/>
            <xsd:enumeration value="ETH_P_CUST"/>
            <xsd:enumeration value="ETH_P_SCA"/>
            <xsd:enumeration value="ETH_P_RARP"/>
            <xsd:enumeration value="ETH_P_ATALK"/>
            <xsd:enumeration value="ETH_P_AARP"/>
            <xsd:enumeration value="ETH_P_8021Q"/>
            <xsd:enumeration value="ETH_P_IPX"/>
            <xsd:enumeration value="ETH_P_IPV6"/>
            <xsd:enumeration value="ETH_P_SLOW"/>
            <xsd:enumeration value="ETH_P_WCCP"/>
            <xsd:enumeration value="ETH_P_PPP_DISC"/>
            <xsd:enumeration value="ETH_P_PPP_SES"/>
            <xsd:enumeration value="ETH_P_MPLS_UC"/>
            <xsd:enumeration value="ETH_P_MPLS_MC"/>
            <xsd:enumeration value="ETH_P_ATMMPOA"/>
            <xsd:enumeration value="ETH_P_ATMFATE"/>
            <xsd:enumeration value="ETH_P_AOE"/>
            <xsd:enumeration value="ETH_P_TIPC"/>
            <xsd:enumeration value="ETH_P_802_3"/>
            <xsd:enumeration value="ETH_P_AX25"/>
            <xsd:enumeration value="ETH_P_ALL"/>
            <xsd:enumeration value="ETH_P_802_2"/>
            <xsd:enumeration value="ETH_P_SNAP"/>
            <xsd:enumeration value="ETH_P_DDCMP"/>
            <xsd:enumeration value="ETH_P_WAN_PPP"/>
            <xsd:enumeration value="ETH_P_PPP_MP"/>
            <xsd:enumeration value="ETH_P_PPPTALK"/>
            <xsd:enumeration value="ETH_P_LOCALTALK"/>
            <xsd:enumeration value="ETH_P_TR_802_2"/>
            <xsd:enumeration value="ETH_P_MOBITEX"/>
            <xsd:enumeration value="ETH_P_CONTROL"/>
            <xsd:enumeration value="ETH_P_IRDA"/>
            <xsd:enumeration value="ETH_P_ECONET"/>
            <xsd:enumeration value="ETH_P_HDLC"/>
            <xsd:enumeration value="ETH_P_ARCNET"/>
            <xsd:enumeration value=""/>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>
