scap-extensions/schemas/x-macos-system-characteristics-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:oval-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5" xmlns:macos-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#macos" xmlns:x-macos-sc="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#x-macos" xmlns:sch="http://purl.oclc.org/dsdl/schematron" targetNamespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#x-macos" elementFormDefault="qualified" version="5.10.1">
    <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"/>
    <xsd:import namespace="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#macos"/>
    <xsd:annotation>
        <xsd:documentation>This document outlines the items of the OVAL System Characteristics XML schema that are composed of extensions to the OVAL Macintosh schema. Each item is an extention of a basic System Characteristics item defined in the core System Characteristics XML schema.</xsd:documentation>
        <xsd:documentation>This schema was originally developed by David Solin at jOVAL.org. The OVAL Schema is maintained by The MITRE Corporation and developed by the public OVAL Community. For more information, including how to get involved in the project and how to submit change requests, please visit the OVAL website at http://oval.mitre.org.</xsd:documentation>
        <xsd:appinfo>
            <schema>X-MacOS System Characteristics</schema>
            <version>5.10.1</version>
            <date>8/12/2014 12:08:32 PM</date>
            <terms_of_use>Copyright (c) 2014, jOVAL.org. All rights reserved.  The contents of this file are subject to the terms of the OVAL License located at http://oval.mitre.org/oval/about/termsofuse.html. See the OVAL License for the specific language governing permissions and limitations for use of this schema.  When distributing copies of the OVAL Schema, this license header must be included.</terms_of_use>
            <sch:ns prefix="oval-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5"/>
            <sch:ns prefix="macos-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#macos"/>
            <sch:ns prefix="x-macos-sc" uri="http://oval.mitre.org/XMLSchema/oval-system-characteristics-5#x-macos"/>
            <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance"/>
        </xsd:appinfo>
    </xsd:annotation>
    <!-- =============================================================================== -->
    <!-- ===========================  AUTHORIZATIONDB ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="authorizationdb_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>This item stores results from checking the contents of an authorizationdb right.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="right_name" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the right_name in which the item is specified.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="xpath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies an Xpath expression describing the text node(s) or attribute(s) to look at.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="value_of" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The value_of element checks the value(s) of the text node(s) or attribute(s) found. How this is used is entirely controlled by operator attributes.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- =============================================================================== -->
    <!-- ===========================  CORESTORAGE ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="corestorage_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>This item stores results from checking the contents of the CoreStorage XML plist information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="uuid" type="oval-sc:EntityItemStringType">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the UUID of the volume about which the plist information was retrieved.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="xpath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies an Xpath expression describing the text node(s) or attribute(s) to look at.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="value_of" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The value_of element checks the value(s) of the text node(s) or attribute(s) found. How this is used is entirely controlled by operator attributes.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- =============================================================================== -->
    <!-- ===========================  GATEKEEPER ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="gatekeeper_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>This item stores results from checking the settings of the Gatekeeper.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="enabled" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The status of Gatekeeper assessments.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="unlabeled" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The path to an unsigned application folder to which Gatekeeper has granted execute permission.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- =============================================================================== -->
    <!-- ===========================  KEYCHAIN  ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="keychain_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>This item stores results from checking the settings of a keychain.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="filepath" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the filepath of the keychain.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="lock_on_sleep" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the whether the keychain is configured to lock on sleep.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="timeout" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The inactivity timeout (in seconds) for the keychain, or 0 if there is no timeout.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- =============================================================================== -->
    <!-- ===========================  LAUNCHD  ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="launchd_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>This item stores results from checking a launchd-controlled daemon/agent.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="label" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the name of the agent/daemon.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pid" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the process ID of the daemon (if any).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="status" type="oval-sc:EntityItemIntType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the last exit code of the daemon (if any), or if $lt; 0, indicates the negative of the signal that interrupted processing.  For example, a value of -15 would indicate that the job was terminated via a SIGTERM.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- =============================================================================== -->
    <!-- ===========================  RLIMIT ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="rlimit_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>The rlimit_item contains information about the resource limits for launchd.</xsd:documentation>
            <xsd:documentation>A resource limit is specified as a soft (current) limit and a hard (max) limit.  When a soft limit is exceeded a process may receive a signal (for example, if the cpu time or file size is exceeded), but it will be allowed to con-tinue continue tinue execution until it reaches the hard limit (or modifies its resource limit).</xsd:documentation>
            <xsd:documentation>For any 'unlimited' resource, the entity will have the status of 'does not exist'.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="cpu_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The maximum amount of cpu time (in seconds) to be used by each process.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="cpu_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>cpu hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="filesize_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The largest size (in bytes) file that may be created.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="filesize_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>filesize hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="data_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The maximum size (in bytes) of the data segment for a process; this defines how far a program may extend its break with the sbrk(2) system call.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="data_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>data hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="stack_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The maximum size (in bytes) of the stack segment for a process; this defines how far a program's stack segment may be extended.  Stack extension is performed automatically by the system.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="stack_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>stack hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="core_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The largest size (in bytes) core file that may be created.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="core_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>core hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="rss_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The maximum size (in bytes) to which a process's resident set size may grow.  This imposes a limit on the amount of physical memory to be given to a process; if memory is tight, the system will prefer to take memory from processes that are exceeding their declared resident set size.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="rss_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>rss hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="memlock_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The maximum size (in bytes) which a process may lock into memory using the mlock(2) function.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="memlock_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>memlock hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="maxproc_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The maximum number of simultaneous processes for this user id.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="maxproc_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>maxproc hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="maxfiles_current" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>The maximum number of open files for this process.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="maxfiles_max" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>maxfiles hard limit.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- =============================================================================== -->
    <!-- ===========================  SOFTWAREUPDATE ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="softwareupdate_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>This item represents automatic software update information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="schedule" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether automatic checking is enabled (true).</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="software_title" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the title string for an available (not installed) software update.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- =============================================================================== -->
    <!-- ===========================  SYSTEMPROFILER ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="systemprofiler_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>This item stores results from performing an XPATH query on the XML result of a systemprofiler data type query.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="data_type" type="x-macos-sc:EntityItemDataTypeType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the data type that was used in collection.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="xpath" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies an Xpath expression describing the text node(s) or attribute(s) to look at.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="value_of" type="oval-sc:EntityItemAnySimpleType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>The value_of element checks the value(s) of the text node(s) or attribute(s) found. How this is used is entirely controlled by operator attributes.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <!-- =============================================================================== -->
    <!-- ===========================  SYSTEMSETUP ITEM  =========================== -->
    <!-- =============================================================================== -->
    <xsd:element name="systemsetup_item" substitutionGroup="oval-sc:item">
        <xsd:annotation>
            <xsd:documentation>This item represents system setup information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="oval-sc:ItemType">
                    <xsd:sequence>
                        <xsd:element name="timezone" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the name of the current time zone.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usingnetworktime" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies wither the machine is using network time.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="networktimeserver" type="oval-sc:EntityItemStringType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the network time server.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="computersleep" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the computer sleep inactivity timer, or 0 for never.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="displaysleep" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the display sleep inactivity timer, or 0 for never.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="harddisksleep" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the hard disk sleep inactivity timer, or 0 for never.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="wakeonmodem" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether the computer will wake up if the modem is accessed.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="wakeonnetworkaccess" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether the computer will wake up if the network is accessed.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="restartfreeze" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether the computer will restart after freezing.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="restartpowerfailure" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether the computer will restart after a power failure.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="allowpowerbuttontosleepcomputer" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether the power button can be used to cause the computer to sleep.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="remotelogin" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether remote logins are allowed.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="remoteappleevents" type="oval-sc:EntityItemBoolType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether remote Apple events are enabled.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="computername" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the computer's name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="localsubnetname" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the name of the local subnet.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="startupdisk" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the startup disks.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="waitforstartupafterpowerfailure" type="oval-sc:EntityItemIntType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the number of seconds the computer waits to start up after a power failure.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="disablekeyboardwhenenclosurelockisengaged" type="oval-sc:EntityItemBoolType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies whether the keyboard is locked when the closure lock is engaged.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="kernelbootarchitecturesetting" type="oval-sc:EntityItemStringType" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>Specifies the kernel boot architecture setting.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="EntityItemDataTypeType">
        <xsd:annotation>
            <xsd:documentation>The EntityItemDataTypeType complex type defines the different values that are valid for the data_type entity of a system_profiler item. These values describe the system_profiler XML data to be retrieved. The empty string is also allowed as a valid value to support an empty element that is found when a variable reference is used within the index entity. Note that when using pattern matches and variables care must be taken to ensure that the regular expression and variable values align with the enumerated values. Please note that the values identified are for the data_type entity and are not valid values for the datatype attribute.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="oval-sc:EntityItemStringType">
                <xsd:enumeration value="SPHardwareDataType"/>
                <xsd:enumeration value="SPNetworkDataType"/>
                <xsd:enumeration value="SPSoftwareDataType"/>
                <xsd:enumeration value="SPParallelATADataType"/>
                <xsd:enumeration value="SPAudioDataType"/>
                <xsd:enumeration value="SPBluetoothDataType"/>
                <xsd:enumeration value="SPDiagnosticsDataType"/>
                <xsd:enumeration value="SPDiscBurningDataType"/>
                <xsd:enumeration value="SPEthernetDataType"/>
                <xsd:enumeration value="SPFibreChannelDataType"/>
                <xsd:enumeration value="SPFireWireDataType"/>
                <xsd:enumeration value="SPDisplaysDataType"/>
                <xsd:enumeration value="SPHardwareRAIDDataType"/>
                <xsd:enumeration value="SPMemoryDataType"/>
                <xsd:enumeration value="SPPCIDataType"/>
                <xsd:enumeration value="SPParallelSCSIDataType"/>
                <xsd:enumeration value="SPPowerDataType"/>
                <xsd:enumeration value="SPPrintersDataType"/>
                <xsd:enumeration value="SPSASDataType"/>
                <xsd:enumeration value="SPSerialATADataType"/>
                <xsd:enumeration value="SPUSBDataType"/>
                <xsd:enumeration value="SPAirPortDataType"/>
                <xsd:enumeration value="SPFirewallDataType"/>
                <xsd:enumeration value="SPNetworkLocationDataType"/>
                <xsd:enumeration value="SPModemDataType"/>
                <xsd:enumeration value="SPNetworkVolumeDataType"/>
                <xsd:enumeration value="SPWWANDataType"/>
                <xsd:enumeration value="SPApplicationsDataType"/>
                <xsd:enumeration value="SPDeveloperToolsDataType"/>
                <xsd:enumeration value="SPExtensionsDataType"/>
                <xsd:enumeration value="SPFontsDataType"/>
                <xsd:enumeration value="SPFrameworksDataType"/>
                <xsd:enumeration value="SPLogsDataType"/>
                <xsd:enumeration value="SPManagedClientDataType"/>
                <xsd:enumeration value="SPPrefPaneDataType"/>
                <xsd:enumeration value="SPStartupItemDataType"/>
                <xsd:enumeration value="SPSyncServicesDataType"/>
                <xsd:enumeration value="SPUniversalAccessDataType"/>
                <xsd:enumeration value="">
                    <xsd:annotation>
                        <xsd:documentation>The empty string value is permitted here to allow for empty elements associated with variable references.</xsd:documentation>
                    </xsd:annotation>
                </xsd:enumeration>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
